{% extends "portfolio/base.html" %}

{% block name %}
<div class="container-fluid bg-dark" style=" height:600px; border-style:groove;  border-radius: 50px;">
    <div class="container-fluid bg-dark" id="aboutAnchor" style=" height:600px; width: 600px;">
        <h1 class="text-center" style="padding-top:250px; color:white">Hi, I am Archimedes</h1>
        <h3 class="text-center" style="padding-top:20px; color:azure;">a <strong>web developer</strong></h3>
    </div>
 
        
    </div>
{% endblock name%}
     
{% block content %}
<!---Start of main-->



{% endblock content %}