{% extends "portfolio/base.html" %}
{% load static %}
<style>
   .card{
       border: hidden;
   }

  
</style>

{% block content %}

<div><h1 class="text-center grey-text" style="padding: 70px; font-style:oblique; font-weight:bolder">
    MY PROJECTS</h1>
</div>

  <div class="container-fluid flex-container pb-5" style="display: flex; border-style:inset; padding-top: 50px;">

    <div class="container ml-5">
        <div class="card" style="background-color:white; width: 500px;">
           <img class="card-img-top bg-light" class="img-responsive"  src="{% static "assets/img/coding.png" %}" alt=""> 
        </div>    
    </div>

    <div class="container  bg-white pt-2" id="text"> <!-- look at me later, text not mobile friendly-->
    <h1 class="pb-3 text-center" style="font-family:monospace; font-weight:bolder; font-style:oblique; font-size:50px;">Archimedes Coding School</h1>
        <h2 class="text-center"style="font-family: aria-activedescendant;">This is a startup project I started sometime ago. This is site to help teach aspiring developers from my community, including the young ones from basic schools. This project just involve only the frontend and it is static for now...</h2>
        <button class="btn  btn-inline btn-dark  ml-5" style="border-width: 5px;border-style: hidden;"><a style="font-size: 20px; color:white; width: 30px; font-family:Verdana, Geneva, Tahoma, sans-serif; font-style:italic" href="#">Take A Look</a></button>
   </div>
</div>





 
{% endblock content %} 


